/* Dhaval Gajjar - C0924338 */
/* about.css */
/* additional css for about us page */

section{
    padding-bottom: 0;
}

section.guarantee{
    padding-bottom: 15px;
}
.mobile-story{
    display: none;
}

@media screen and (min-width: 630px), print { 

    /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
    .mobile-story{
        display: block;
    }
}


